.btn {
    transform: translateY(20px);
    cursor: pointer;
     border:none;
     background: transparent;
     margin: 0 auto;
     display: block; 

}

h3,p {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

